<form action='/upload' method='post'>
	<input type='text' name='title' value='Title'> <input type='file' name='path'> <br/>
	<textarea name='description'></textarea><br/>
	<input type='submit'>
</form>
