body {
	/* width:100%; */
	margin: 0 auto 0 auto;
	background-color:#EFEFEF;
}

#header {
	width:100%;
	height:50px;
	margin: auto;
	
	line-height: 50px;	
	font-family: "Verdana";
	font-size: 14pt;
	text-align: center;
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #E30B5C;
	background-color: #E30B5C;
	text-decoration: none;
	box-shadow: 0 0px 2px #555;
}

#vid-holder {
	display: table;
	background-color: #000;
	/*
	background: -webkit-radial-gradient(circle, #333, #000);
	background: -moz-radial-gradient(circle, #333, #000);
	*/
	width:100%;
	margin: 0;
	
	font-family:"Verdana";
	font-size:14pt;
	color:white;
	text-align: center;
	box-shadow: 0 0px 10px #555;
}

#vid {
	width:100%;
	margin: 20px auto 20px auto;
	max-width: 720px;
	height: auto;
	color:white;
	text-align:center;
	vertical-align: middle;
}

#title {
	display: table;
	width: 61%;
	max-width: 445px;
	margin: 15px auto 10px auto;
	text-align: left;
	font-family:"Georgia";
	font-size:12pt;
	color: #111111;
}

#plot {
	display: table;
	width: 61%;
	max-width: 445px;
	margin: 0 auto;

	text-indent: 1.5em;
	text-align: left;
	font-family: "Georgia";
	font-size: 10pt;
	color: #373737;
}

#footer {
	display: table;
	width: 80%;
	margin: 0 auto;
	text-align: right;
	font-family: "Georgia";
	font-size: 8pt;
	color: #4F4F4F;
}
